.error {
    width: 100%;
    text-align: center;
    padding: 15% 0;

    .gears {
        position:relative;
        height: 120px;
    }

    #first-gear {
        position: absolute;
        left: 43.5%;
        animation-name: spin;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 

        @keyframes spin {
            from {
                transform:rotate(0deg);
            }
            to {
                transform:rotate(-360deg);
            }
        }
    }

    #second-gear {
        position:absolute;
        bottom: 8px;
        right: 43.5%;

        animation-name: spin-back;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 

        @keyframes spin-back {
            from {
                transform:rotate(0deg);
            }
            to {
                transform:rotate(360deg);
            }
        }
    }

    @media screen and (max-width: 500px) {
        #first-gear {
            height: 60px;
            left: 36.5%;
        }

        #second-gear {
            height: 60px;
            right: 36.5%;
            bottom: 50px;
            
        }
    }

    @media screen and (max-width: 400px) {
        
        #first-gear{
            height: 60px;
            left: 35%;
        }

        #second-gear {
            height: 60px;
            right: 35.5%;
            
        }
    }
}